<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Job Listing</h4>
        <p class="card-category"></p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table" id="jobTable">
            <thead class="text-primary">
              <tr>
                <th>Title</th>
                <th>Company</th> 
                <th>Location</th>
                <th>Description</th>              
              </tr>
            </thead>
            <tbody>
              <% @jobs.each do |job| %>
                <tr>
                  <td><%= link_to job.title, job %></td>
                  <td><%= job.company.name %></td>
                  <td><%= job.location.name %></td>
                  <td><%= truncate(strip_tags(job.description), :length => 100) %></td>                  
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
// initialize jquery datatable and set all columns to no searchable except the job title column
  var table = $('#jobTable').DataTable( {
    "columnDefs": [
      { "targets": [1,2,3], "searchable": false }
    ]
  });
</script>