<h1>Job#index</h1>
<p>Find me in app/views/job/index.html.erb</p>

<% Category.all.each do |category| %>
  <%= link_to category.name, jobs_path(category: category.name) %>
<% end %>

<% @jobs.each do |job| %>
  <h2><%= link_to job.title, job %></h2>
  <p><%= job.company_id %></p>
<% end %>
