
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-danger">
        <h2 class="card-title">Welcome</h2>
      </div>
      <div class="card-body">
        <h6 class="card-category text-gray">The Muse - Skills Test</h6>
        <h4 class="card-title">Bryan Anderson</h4>
        <p class="card-description">
          Build a web application that will allow a user to find different jobs. Design and implement everything from the data model to the application UI.
          The application should allow users to do the following:
          <ul class="card-description">
            <li>List jobs with their company, job title, location, and the first 100 cahracters of the job description.</li>
            <li>Job listing should be filterable by company, level, location, and job category.</li>
            <li>Clicking the job title to be able to see the full details of a specific position.</li>
            <li>Search for a job by title only.</li>
          </ul>
        </p>
        <p class="card-description">
          The application will need to also do the the following:
          <ul class="card-description">
            <li>Ingest data at the command-line or a web page, from either flat files or the API supplied.</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
